.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.75);
    display: none;
      
    #wpcf7-f25-o1 {
        position:fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
      
    .contactForm {
        display: flex;
        flex-direction: column;
        font-size: 12px !important;
        width: 597px;
        height: auto;
        border: 5px solid #000;
        align-items: center;
        background-color: $background-color_2;
    }
